<footer class="site-footer">
    <div class="container">
        <small class="block">&copy; {{ site.time | date: '%Y' }} Spencer Julian.</small>
        <ul class="media-links">
            <li class="media-link">
                <a href="https://www.linkedin.com/in/spencerjulian" title="Find me on LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i></a> 
            </li> 
            <li class="media-link"> 
                <a href="https://github.com/kuruoujou" title="Check me out on Github"><i class="fa fa-github" aria-hidden="true"></i></a> 
            </li> 
            <li class="media-link"> 
                <a href="https://twitter.com/kuroshi" title="Follow me on Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a> 
            </li> 
        </ul>
    </div>
</footer>
